.numer{
    background-color: gray;
    color: black;
 }
 
 .parni{
    background-color: white;
    color: blue; 
 }
 .nachunka{
    background-color: rgb(235, 15, 15);
    color: blue; 
 }
 .kursor{
    cursor:pointer;
 }
 .head{
    text-align: center;
    font-size: 22px;
 }
 .nazad{ font-style: italic; }
 .zmist{text-align: center;}
    /*desktop */
 @media (min-width: 992px) {}
 /*tablet*/
 @media (min-width: 768px) and (max-width:992px){}
 /*mobile */
 @media (max-width: 768px) {}