h1,h2,h3{font-family: "Playfair Display", serif;
    font-style: italic;}
h4 { font-family: "Kalnia", sans-serif;}

.block1,.block2,.block3,.block4{
   font-family: "Roboto", sans-serif;
}

 
 


.block1 {
    background-color: lightgreen;
    position: relative;
    width: 1400px;
    height: 300px;
    color: red;
    font-size: 100%;
    margin: 10px;
  }
  .section1 {
    background-color: green;
    width: fit-content;
    position: absolute;
    color: white;
    right: 0px;
    bottom: 0px;
    font-size: 120%;
  }
  
  .block2 {
    background-color: lightpink;
    position: relative;
    width: 1400px;
    color: blue;
    font-size: 100%;
    margin: 10px;
  }
  .section2 {
    background-color: whitesmoke;
    width: fit-content;
    position: absolute;
    color: blue;
    right: 0px;
    bottom: 0px;
    font-size: 120%;
  }
  
  .block3 {
    background-color: lightblue;
    position: relative;
    width: 1400px;
    color: black;
    font-size: 100%;
    margin: 10px;
  }
  .section3 {
    background-color: blue;
    width: fit-content;
    position: absolute;
    color: yellow;
    right: 0px;
    bottom: 0px;
    font-size: 120%;
  }
  
  .block4 {
    background-color: lightyellow;
    position: relative;
    width: 1400px;
  
    color: green;
    font-size: 100%;
    margin: 10px;
  }
  .section4 {
    background-color: yellow;
    width: fit-content;
    position: absolute;
    color: black;
    right: 0px;
    bottom: 0px;
    font-size: 120%;
  }
  
  table {
    text-align: center;
    position: bottom;
    border-collapse: collapse;
    width: 50%;
    height: 50%;
  }
  th,
  td {
    border: 1px solid;
  }
  
  /*Large devices*/
  @media (min-width: 1200px) {
    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 75%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /*Midium devices*/
  @media (min-width: 991px) and (max-width: 1200px) {
    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 75%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  /*Midium devices*/
  @media (min-width: 767px) and (max-width: 992px) {
    section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .col-md2-1,
    .col-md2-2,
    .col-md2-3,
    .col-md2-4,
    .col-md2-5,
    .col-md2-6,
    .col-md2-7,
    .col-md2-8,
    .col-md2-9,
    .col-md2-10,
    .col-md2-11,
    .col-md2-12 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .col-md2-1 {
      width: 8.33%;
    }
    .col-md2-2 {
      width: 16.66%;
    }
    .col-md2-3 {
      width: 25%;
    }
    .col-md2-4 {
      width: 33.33%;
    }
    .col-md2-5 {
      width: 41.66%;
    }
    .col-md2-6 {
      width: 50%;
    }
    .col-md2-7 {
      width: 58.33%;
    }
    .col-md2-8 {
      width: 66.66%;
    }
    .col-md2-9 {
      width: 75%;
    }
    .col-md2-10 {
      width: 83.33%;
    }
    .col-md2-11 {
      width: 91.66%;
    }
    .col-md2-12 {
      width: 100%;
    }
  }
  
    @media (max-width: 768px) and (min-width: 30px){
      .col-sm-1,
      .col-sm-2,
      .col-sm-3,
      .col-sm-4,
      .col-sm-5,
      .col-sm-6,
      .col-sm-7,
      .col-sm-8,
      .col-sm-9,
      .col-sm-10,
      .col-sm-11,
      .col-sm-12 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }